In [12]:
# Disini saya ingin membuat model prediksi menggunakan decision tree
# Disini saya akan memprediksi apakah penumpang kapal titanic akan selamat atau tidak
# Pertama kita import dulu library nya
import pandas as pd
from sklearn.preprocessing import LabelEncoder
from sklearn import tree

df = pd.read_csv("titanic.csv")
df.head()

   PassengerId  Survived  Pclass                                               Name     Sex   Age  SibSp  Parch            Ticket     Fare Cabin Embarked
0            1         0       3                            Braund, Mr. Owen Harris    male  22.0      1      0         A/5 21171   7.2500   NaN        S
1            2         1       1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1      0          PC 17599  71.2833   C85        C
2            3         1       3                             Heikkinen, Miss. Laina  female  26.0      0      0  STON/O2. 3101282   7.9250   NaN        S
3            4         1       1       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1      0            113803  53.1000  C123        S
4            5         0       3                           Allen, Mr. William Henry    male  35.0      0      0            373450   8.0500   NaN        S

In [13]:
# Kita buang data yang tidak di perlukan
data = df.drop(["PassengerId", "Name", "SibSp", "Parch", "Ticket", "Cabin", "Cabin", "Embarked"], axis="columns")
data

     Survived  Pclass     Sex   Age     Fare
0           0       3    male  22.0   7.2500
1           1       1  female  38.0  71.2833
2           1       3  female  26.0   7.9250
3           1       1  female  35.0  53.1000
4           0       3    male  35.0   8.0500
..        ...     ...     ...   ...      ...
886         0       2    male  27.0  13.0000
887         1       1  female  19.0  30.0000
888         0       3  female   NaN  23.4500
889         1       1    male  26.0  30.0000
890         0       3    male  32.0   7.7500

[891 rows x 5 columns]

In [15]:
# Kita bersihkan datanya
data1 = data.drop("Survived", axis="columns")
target = df["Survived"]

# Fungsi ini adalah untuk mengubah data menjadi angka
le_sex = LabelEncoder()

# Disini kita pakai untuk mengubah gender menjadi angka
data1["Sex"] = le_sex.fit_transform(data1['Sex'])
# Kita tambahkan 0 untuk mengisi data yang kosong di tabel
data1["Age"] = data1["Age"].fillna(0)
# Kita ubah data age dari float menjadi int
data1["Age"] = data1["Age"].astype(int)
data1

     Pclass  Sex  Age     Fare
0         3    1   22   7.2500
1         1    0   38  71.2833
2         3    0   26   7.9250
3         1    0   35  53.1000
4         3    1   35   8.0500
..      ...  ...  ...      ...
886       2    1   27  13.0000
887       1    0   19  30.0000
888       3    0    0  23.4500
889       1    1   26  30.0000
890       3    1   32   7.7500

[891 rows x 4 columns]

In [16]:
target

0      0
1      1
2      1
3      1
4      0
      ..
886    0
887    1
888    0
889    1
890    0
Name: Survived, Length: 891, dtype: int64

In [17]:
# Kita buat model prediksi nya
model = tree.DecisionTreeClassifier()

model.fit(data1, target)

DecisionTreeClassifier()

In [18]:
# Kita prediksi modelnya, jika 0 berarti tidak selamat dan jika 1 berarti selamat
model.predict([[2, 0, 25, 8.000]])

C:\Users\Ryan Akbar\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\base.py:465: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

array([0], dtype=int64)

In [19]:
model.predict([[3, 1, 30, 50.000]])

C:\Users\Ryan Akbar\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\base.py:465: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

array([0], dtype=int64)

In [21]:
model.predict([[3,1,50,80.000]])

C:\Users\Ryan Akbar\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\base.py:465: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

array([1], dtype=int64)

In [24]:
model.predict([[3,1,39,100.000]])

C:\Users\Ryan Akbar\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\base.py:465: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

array([1], dtype=int64)

In [22]:
# Kita cek keakuratan model prediksi nya
model.score(data1, target)

0.9797979797979798