In [19]:
import pandas as pd
# Mengimpor library pandas untuk mengolah data berbentuk tabel (DataFrame)

from sklearn.model_selection import train_test_split
# Digunakan untuk membagi data menjadi data latih dan data uji

from sklearn.naive_bayes import GaussianNB
# Mengimpor algoritma Naive Bayes Gaussian untuk klasifikasi


df = pd.read_csv("pelanggan.csv")
# Membaca file pelanggan.csv dan menyimpannya ke dalam variabel df

df
# Menampilkan isi dataset

,CLIENTNUM,Attrition_Flag,Customer_Age,Gender,Dependent_count,Education_Level,Marital_Status,Income_Category,Card_Category,Months_on_book,...,Credit_Limit,Total_Revolving_Bal,Avg_Open_To_Buy,Total_Amt_Chng_Q4_Q1,Total_Trans_Amt,Total_Trans_Ct,Total_Ct_Chng_Q4_Q1,Avg_Utilization_Ratio,Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_1,Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_2
0,768805383,Existing Customer,45,M,3,High School,Married,$60K - $80K,Blue,39,...,12691.0,777,11914.0,1.335,1144,42,1.625,0.061,0.000093,0.999910
1,818770008,Existing Customer,49,F,5,Graduate,Single,Less than $40K,Blue,44,...,8256.0,864,7392.0,1.541,1291,33,3.714,0.105,0.000057,0.999940
2,713982108,Existing Customer,51,M,3,Graduate,Married,$80K - $120K,Blue,36,...,3418.0,0,3418.0,2.594,1887,20,2.333,0.000,0.000021,0.999980
3,769911858,Existing Customer,40,F,4,High School,Unknown,Less than $40K,Blue,34,...,3313.0,2517,796.0,1.405,1171,20,2.333,0.760,0.000134,0.999870
4,709106358,Existing Customer,40,M,3,Uneducated,Married,$60K - $80K,Blue,21,...,4716.0,0,4716.0,2.175,816,28,2.500,0.000,0.000022,0.999980
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10122,772366833,Existing Customer,50,M,2,Graduate,Single,$40K - $60K,Blue,40,...,4003.0,1851,2152.0,0.703,15476,117,0.857,0.462,0.000191,0.999810
10123,710638233,Attrited Customer,41,M,2,Unknown,Divorced,$40K - $60K,Blue,25,...,4277.0,2186,2091.0,0.804,8764,69,0.683,0.511,0.995270,0.004729
10124,716506083,Attrited Customer,44,F,1,High School,Married,Less than $40K,Blue,36,...,5409.0,0,5409.0,0.819,10291,60,0.818,0.000,0.997880,0.002118
10125,717406983,Attrited Customer,30,M,2,Graduate,Unknown,$40K - $60K,Blue,36,...,5281.0,0,5281.0,0.535,8395,62,0.722,0.000,0.996710,0.003294
10126,714337233,Attrited Customer,43,F,2,Graduate,Married,Less than $40K,Silver,25,...,10388.0,1961,8427.0,0.703,10294,61,0.649,0.189,0.996620,0.003377

In [20]:
df = df[['Attrition_Flag', 'Customer_Age', 'Dependent_count', 'Education_Level', 'Months_on_book']]
# Memilih kolom-kolom yang diperlukan saja agar data lebih fokus dan sederhana

df
# Menampilkan dataset setelah kolom dipilih

,Attrition_Flag,Customer_Age,Dependent_count,Education_Level,Months_on_book
0,Existing Customer,45,3,High School,39
1,Existing Customer,49,5,Graduate,44
2,Existing Customer,51,3,Graduate,36
3,Existing Customer,40,4,High School,34
4,Existing Customer,40,3,Uneducated,21
...,...,...,...,...,...
10122,Existing Customer,50,2,Graduate,40
10123,Attrited Customer,41,2,Unknown,25
10124,Attrited Customer,44,1,High School,36
10125,Attrited Customer,30,2,Graduate,36
10126,Attrited Customer,43,2,Graduate,25

In [21]:
df.isnull().sum()
# Mengecek apakah terdapat data kosong (null) pada setiap kolom

Attrition_Flag     0
Customer_Age       0
Dependent_count    0
Education_Level    0
Months_on_book     0
dtype: int64

In [22]:
df["Attrition_Flag"].describe()
# Menampilkan ringkasan statistik dari kolom Attrition_Flag

count                 10127
unique                    2
top       Existing Customer
freq                   8500
Name: Attrition_Flag, dtype: object

In [23]:
df["Attrition_Flag"].unique()
# Menampilkan nilai unik pada kolom Attrition_Flag 
#Artinya:

#Program mengecek isi kolom Attrition_Flag

#Lalu menampilkan jenis status yang ada

#Tanpa mengulang data yang sama

array(['Existing Customer', 'Attrited Customer'], dtype=object)

In [24]:
df["Education_Level"].describe()
# Menampilkan ringkasan statistik dari kolom Education_Level

count        10127
unique           7
top       Graduate
freq          3128
Name: Education_Level, dtype: object

In [25]:
df["Education_Level"].unique()
# Menampilkan kategori pendidikan yang ada di dalam data

array(['High School', 'Graduate', 'Uneducated', 'Unknown', 'College',
       'Post-Graduate', 'Doctorate'], dtype=object)

In [26]:
from sklearn.preprocessing import LabelEncoder
# Mengimpor LabelEncoder untuk mengubah data kategorik menjadi numerik

le_sex = LabelEncoder()
# Membuat objek encoder

df["ada/tidak"] = le_sex.fit_transform(df["Attrition_Flag"])
# Mengubah nilai Attrition_Flag menjadi angka (encoding)

df["ada/tidak"] = df["ada/tidak"].astype(int)
# Mengubah tipe data menjadi integer


df["Edukasi"] = le_sex.fit_transform(df["Education_Level"])
# Mengubah kategori Education_Level menjadi nilai numerik

df["Edukasi"] = df["Edukasi"].astype(int)
# Mengubah tipe data menjadi integer

df

C:\Users\Ryan Akbar\AppData\Local\Temp\ipykernel_9548\979516933.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["ada/tidak"] = le_sex.fit_transform(df["Attrition_Flag"])
C:\Users\Ryan Akbar\AppData\Local\Temp\ipykernel_9548\979516933.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["ada/tidak"] = df["ada/tidak"].astype(int)
C:\Users\Ryan Akbar\AppData\Local\Temp\ipykernel_9548\979516933.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["Edukasi"] = le_sex.fit_transform(df["Education_Level"])
C:\Users\Ryan Akbar\AppData\Local\Temp\ipykernel_9548\979516933.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["Edukasi"] = df["Edukasi"].astype(int)

,Attrition_Flag,Customer_Age,Dependent_count,Education_Level,Months_on_book,ada/tidak,Edukasi
0,Existing Customer,45,3,High School,39,1,3
1,Existing Customer,49,5,Graduate,44,1,2
2,Existing Customer,51,3,Graduate,36,1,2
3,Existing Customer,40,4,High School,34,1,3
4,Existing Customer,40,3,Uneducated,21,1,5
...,...,...,...,...,...,...,...
10122,Existing Customer,50,2,Graduate,40,1,2
10123,Attrited Customer,41,2,Unknown,25,0,6
10124,Attrited Customer,44,1,High School,36,0,3
10125,Attrited Customer,30,2,Graduate,36,0,2
10126,Attrited Customer,43,2,Graduate,25,0,2

In [27]:
df = df[['Attrition_Flag', "ada/tidak" ,'Customer_Age', 'Dependent_count', 'Education_Level', "Edukasi", 'Months_on_book']]
# Menyusun ulang kolom agar data asli dan data hasil encoding tetap terlihat

df
# Menampilkan dataset akhir

,Attrition_Flag,ada/tidak,Customer_Age,Dependent_count,Education_Level,Edukasi,Months_on_book
0,Existing Customer,1,45,3,High School,3,39
1,Existing Customer,1,49,5,Graduate,2,44
2,Existing Customer,1,51,3,Graduate,2,36
3,Existing Customer,1,40,4,High School,3,34
4,Existing Customer,1,40,3,Uneducated,5,21
...,...,...,...,...,...,...,...
10122,Existing Customer,1,50,2,Graduate,2,40
10123,Attrited Customer,0,41,2,Unknown,6,25
10124,Attrited Customer,0,44,1,High School,3,36
10125,Attrited Customer,0,30,2,Graduate,2,36
10126,Attrited Customer,0,43,2,Graduate,2,25

In [29]:
x = df[["Customer_Age", "Dependent_count", "Edukasi", "Months_on_book"]]
# Menentukan fitur (variabel independen) yang digunakan untuk pelatihan model

y = df["ada/tidak"]
# Menentukan label/target yang akan diprediksi


X_train, X_test, y_train, y_test = train_test_split(x, y, test_size=0.3)
# Membagi data menjadi 70% data latih dan 30% data uji

X_test
# Menampilkan data uji (fitur)

      Customer_Age  Dependent_count  Edukasi  Months_on_book
3500            52                1        3              38
3439            62                1        5              49
7665            34                3        5              26
196             41                0        3              36
1969            37                1        2              36
...            ...              ...      ...             ...
9984            46                3        1              36
5059            60                1        6              48
4435            48                4        3              37
2347            57                1        6              36
1438            51                1        5              42

[3039 rows x 4 columns]

In [30]:
model = GaussianNB()
# Membuat model Naive Bayes Gaussian

model.fit(X_train,y_train)
# Melatih model menggunakan data latih

GaussianNB()

In [33]:
y_test
# Menampilkan label asli dari data uji

3500    1
3439    1
7665    1
196     1
1969    1
       ..
9984    0
5059    1
4435    0
2347    1
1438    1
Name: ada/tidak, Length: 3039, dtype: int32

In [34]:
model.predict(X_test)
# Melakukan prediksi terhadap data uji

array([1, 1, 1, ..., 1, 1, 1])

In [32]:
model.score(X_test,y_test)
# Menghitung akurasi model berdasarkan data uji

0.8400789733464955

In [36]:
model.predict([[34, 3, 5, 50]])
# Melakukan prediksi untuk data pelanggan baru:
# Usia 34 tahun, tanggungan 3, tingkat pendidikan (encoded) 5, lama berlangganan 50 bulan

C:\Users\Ryan Akbar\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\base.py:465: UserWarning: X does not have valid feature names, but GaussianNB was fitted with feature names
  warnings.warn(

array([1])